$accent-color: #2196F3;
$main-color: #212121;
$background-color: #2F303A;
$second-color: #757575;
$section-color: #F5F4FA;
$logo-color: #ffffff99;
$white-color: #fff;
$team-last-color: #000000;
  /* fonts */
$roboto-fonts: 'Roboto', sans-serif;
$raleway-fonts: 'Raleway', sans-serif;