nav {
    flex-grow: 3;
  }
  .nav_menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav_menu a{
    font-size: 13px;
    font-weight: 400;
  }